{% extends 'layout.twig' %}

{% block content %}
  <div class="game-container">
    <h1 class="game-title">Bienvenue dans le jeu</h1>
    <form class="game-form" action="/game/play" method="post">
      <button class="game-button" type="submit">Jouer</button>
    </form>
  </div>
{% endblock %}
