{% extends "layout.twig" %}

{% block content %}
  <div class="container">
    <h1>Désolé, toutes les pâtisseries ont été remportées !</h1>
    <p>Revenez une prochaine fois pour jouer à nouveau.</p>
  </div>
{% endblock %}
