{% extends "layout.twig" %}

{% block content %}
  <div class="container">
    <h1 class="title-gameover">Désolé, toutes les pâtisseries ont été remportées !</h1>
    <p class="p-gameover">Revenez demain pour retenter votre chance.</p>
  </div>
{% endblock %}
