{% extends 'layout.twig' %}

{% block content %}
  <div class="home-container">
    <h1 class="home-title">Bienvenue sur mon jeu</h1>
    <p class="home-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima repellendus deserunt culpa quidem beatae dolorem asperiores molestiae eos autem, nisi enim vitae rerum quibusdam et fuga error iste architecto maiores?</p>
    <a href="/register" class="home-link">Inscription</a>
    <a href="/login" class="home-link">Connexion</a>
  </div>
{% endblock %}
