{% extends 'layout.twig' %}

{% block content %}
  <div class="home-container">
    <h1 class="home-title">Bienvenue sur mon jeu</h1>
    <p class="home-content">Tentez de gagner plusieurs patisseries en jouant au yams, que la chance soit avec vous !</p>
    <a href="/register" class="home-link">Inscription</a>
    <a href="/login" class="home-link">Connexion</a>
  </div>
{% endblock %}
