{% extends 'layout.twig' %}

{% block content %}
  <div class="results-container">
    <h1 class="results-title">Résultats du jeu</h1>
    <ul class="results-patisseries-list">
      {% for patisserie in patisseries %}
        <li class="results-patisseries-item">{{ patisserie.name }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
