{% extends 'layout.twig' %}

{% block title %}Attendez un moment{% endblock %}
{% block content %}   
    <h1 class="wait-title">Attendez un moment</h1>
    <p class="wait-text">Vous avez déjà joué dans les 24 dernières heures. Veuillez patienter avant de jouer à nouveau.</p>
{% endblock %}
